.place__title {
    max-width: 460px;
    font-family: 'Inter-ExtraBold', sans-serif;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0 40px 0 0;
}

@media screen and (max-width: 1024px){
    .place__title {
        max-width: 42.969vw;
        margin: 0 3.125vw 0 0;
    }
}
@media screen and (max-width: 768px){
    .place__title {
        max-width: 44.271vw;
        margin: 0 3.646vw 0 0;
        font-size: 5.469vw;
        line-height: 5.990vw;
    }
}
@media screen and (max-width: 320px){
    .place__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
}