.lead {
    max-width: 984px;
    margin: 56px auto 92px;
}
@media screen and (max-width: 1024px){
    .lead  {
        margin: 4.688vw auto 8.984vw;
        max-width: 90.625vw;
    }
}
@media screen and (max-width: 768px){
    .lead  {
        margin: 6.250vw auto 11.458vw;
        max-width: 100%;
    }
}
@media screen and (max-width: 320px){
    .lead  {
        min-width: 100%;
        margin: 48px auto 64px;
    }
}