.cover__subtitle {
    font-family: Inter-Regular;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 360px;
  }
  @media screen and (max-width: 1024px){
    .cover__subtitle {
      margin: 0 auto 11.230vw;
      font-size: 1.758vw;
      line-height: 2.148vw;
    }
  }
  @media screen and (max-width: 768px){
    .cover__subtitle {
      font-size: 2.290vw;
      line-height: 2.799vw;
    }
  }
  @media screen and (max-width: 320px){
    .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 114%;
      margin: 0 auto 33px;
    }
  }