.lead__title {
    max-width: 720px;
    margin: 0 auto;
    max-height: 200px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-family: 'Inter-ExtraBold', sans-serif;
    color: #FFFFFF;
}
@media screen and (max-width: 1024px){
    .lead__title {
        margin: 4.688vw auto 3.125vw;
    }
}
@media screen and (max-width: 768px){
    .lead__title {
        margin: 6.250vw auto 4.167vw;
        font-size: 12.500vw;
        line-height: 13.021vw;
    }
}
@media screen and (max-width: 320px){
    .lead__title {
        margin: 48px auto 16px;
        max-width: 288px;
        max-height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
}