.lead__image_name_main {
    max-width: 984px;
}
@media screen and (max-width: 1024px){
    .lead__image_name_main {
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .lead__image_name_main {
        max-width: 768px;
    }
}
@media screen and (max-width: 320px) {
    .lead__image_name_main {
        width: 320px;
        height: 200px;
    }
}