.lead__image_name_roadmap {
    max-width: 886px;
    position: absolute;
    top: 128.61px;
    left: 41.5px;
}

@media screen and (max-width: 1024px){
    .lead__image_name_roadmap {
        max-width: 81.641vw;
        top: 11.816vw;
        left: 3.809vw;
    }
}
@media screen and (max-width: 768px){
    .lead__image_name_roadmap {
        max-width: 89.974vw;
        top: 13.021vw;
        left: 4.167vw;
    }
}
@media screen and (max-width: 320px){
    .lead__image_name_roadmap {
        min-width: 288px;
        top: 41px;
        left: 13px;
    }
}