.lead__image_name_main {
    max-width: 984px;
}
@media screen and (max-width: 1024px){
    .lead__image_name_main {
        max-width: 90.625vw;
    }
}
@media screen and (max-width: 768px) {
    .lead__image_name_main {
        max-width: 100vw;
    }
}
@media screen and (max-width: 320px) {
    .lead__image_name_main {
        min-width: 320px;
    }
}