.place__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
}
.place__link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 768px){
    .place__link {
        max-width: 45.833vw;
        font-size: 2.344vw;
        line-height: 2.865vw;
    }
}
@media screen and (max-width: 320px){
    .place__link {
        min-width: 288px;
        margin: 0 0 32px;
        font-size: 18px;
        line-height: 22px;
    }
}