.place__link {
font-family: Inter-Regular;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
color: #FFFFFF;
cursor: pointer;
}
@media screen and (max-width: 768px){
    .place__link {
        width: 352px;
    }
}
@media screen and (max-width: 320px){
    .place__link {
        width: 288px;
        margin: 0 0 32px;
    }
}