.lead__images {
    position: relative;
    margin: 64px auto 0;
    max-width: 984px;
}
@media screen and (max-width: 1024px){
    .lead__images {
        margin: 56px auto 0;
        max-width: 90.625vw;
    }
}
@media screen and (max-width: 768px){
    .lead__images {
        margin: 7.292vw auto 0;
        max-width: 100vw;
    }
}
@media screen and (max-width: 320px){
    .lead__images {
        margin: 40px auto 0;
        max-width: 320px;
    }
}