.cover__overlay {
    width: 1184px;
    height: 740px;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: 1;
}

.cover__overlay::before {
    opacity: 0.3;
    position: absolute;
}

.cover__overlay::before:hover {
    opacity: 0.8;
}