.cover__background, 
.cover__background::before {
    width: 1184px;
    min-height: 740px;
}
.cover__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background-image: url(../../../images/__background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.cover__background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
}
.cover:hover .cover__background::before {
  opacity: 0.8;
}
@media screen and (max-width: 1280px){
    .cover__background, 
    .cover__background::before {
        width: 92.500vw;
        min-height: 57.813vw;
    }
}
@media screen and (max-width: 1024px){
    .cover__background, 
    .cover__background::before {
        width: 100%;
        min-height: 62.500vw;
    }
}
@media screen and (max-width: 768px){
    .cover__background {
        min-height: 61.069vw;
    }
  }
  @media screen and (max-width: 320px){
    .cover__background, 
    .cover__background::before {
        width: 320px;
        min-height: 200px;
    }
}