.place {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 0 0 80px 0;
    width: 984px;
}
@media screen and (max-width: 1024px){
    .place {
        width: 928px;
        margin: 0 0 72px 0;
    }
}
@media screen and (max-width: 768px){
    .place {
        width: 720px;
        margin: 0 0 72px 0;
    }
}
@media screen and (max-width: 320px){
    .place {
        max-width: 320px;
        grid-template-columns: repeat(1, auto);
    }
}