.footer {
    max-width: 1184px;
    max-height: 18px;
    display: flex;
    margin: 92px auto 0;
    justify-content: space-between;
    padding-bottom: 24px;
}
@media screen and (max-width: 1024px){
    .footer {
        max-width: 928px;
    }
}