.footer {
    max-width: 1184px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 24px;
}
@media screen and (max-width: 1280px){
    .footer {
        max-width: 92.500vw;
    }
}
@media screen and (max-width: 1024px){
    .footer {
        max-width: 90.625vw;
    }
}
@media screen and (max-width: 768px){
    .footer {
        max-width: 93.750vw;
    }
}
@media screen and (max-width: 320px){
    .footer {
        min-width: 186px;
        /* min-height: 310px; */
        display: block;
        margin: 0 auto 0 16px;
    }
}