.place__url-heading{
    max-width: 456px;
    margin: 0 0 12px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}
@media screen and (max-width: 768px){
    .place__url-heading {
        max-width: 45.833vw;
        font-size: 1.563vw;
        line-height: 1.563vw;
        margin: 0 0 1.563vw;
    }
}
@media screen and (max-width: 320px){
    .place__url-heading {
        max-width: 288px;
        margin: 32px 0 12px;
    }
}