.header__lang-links {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 26px 0 0;
    width: 78px;
}
@media screen and (max-width: 320px){
    .header__lang-links {
        width: 62px;
        margin: 14px 0 0;
    }
}