.place__website {
    max-width: 456px;
    align-self: flex-end;
}
@media screen and (max-width: 768px){
    .place__website {
        max-width: 45.833vw;
    }
}
@media screen and (max-width: 320px){
    .place__website {
        max-width: 288px;
        margin: 0 16px;
    }
}