.intro__title {
    max-width: 690px;
    margin: 0 0 40px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}
@media screen and (max-width: 768px){
    .intro__title  {
        max-width: 93.750vw;
        font-size: 7.031vw;
        line-height: 7.552vw;
        margin: 0 0 5.208vw;
    }
}
@media screen and (max-width: 320px){
    .intro__title {
        min-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 40px;
    }
}